@using SoftwareVillage.Models;
@model Down_SoftwareVillage

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Redaktə et</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">


                            <div class="form-group">
                                <label asp-for="Icon1">Ikon1</label>
                                <input asp-for="Icon1" type="text" class="form-control" value="@Model.Icon1" placeholder="Ikon1" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Title1">Başlıq1</label>
                                <input asp-for="Title1" type="text" class="form-control" value="@Model.Title1" placeholder="Başlıq1ə" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MaxCountOfTeachers">Muəllim sayı</label>
                                <input asp-for="MaxCountOfTeachers" type="text" class="form-control" value="@Model.MaxCountOfTeachers" placeholder="Muəllim sayı" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Icon2">Ikon2</label>
                                <input asp-for="Icon2" type="text" class="form-control" value="@Model.Icon2" placeholder="Ikon2" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Title2">Başlıq2</label>
                                <input asp-for="Title2" type="text" class="form-control" value="@Model.Title2" placeholder="Başlıq2" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MaxCountOfStudents">Tələbə sayı</label>
                                <input asp-for="MaxCountOfStudents" type="text" class="form-control" value="@Model.MaxCountOfStudents" placeholder="Tələbə sayı" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Icon3">Ikon3</label>
                                <input asp-for="Icon3" type="text" class="form-control" value="@Model.Icon3" placeholder="Ikon3" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Title3">Başlıq3</label>
                                <input asp-for="Title3" type="text" class="form-control" value="@Model.Title3" placeholder="Başlıq3" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MaxCountOfPartnyors">Partnyor sayı</label>
                                <input asp-for="MaxCountOfPartnyors" type="text" class="form-control" value="@Model.MaxCountOfPartnyors" placeholder="Partnyor sayı" />
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Yadda saxla</button>
                            <button class="btn btn-light">Ləğv et</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
