@using SoftwareVillage.Models;
@model List<It_SoftwareVillage>

@{
    int count = 1;
}

<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Haqqimizda</h4>

            <a asp-controller="It_SoftwareVillage" asp-action="Create" type="button" class="btn btn-info">Yarat</a>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Sıra Nömrəsi
                            </th>
                            <th>
                                Şəkil
                            </th>
                            <th>
                                Başlıq
                            </th>
                            <th>
                                Altbaşlıq
                            </th>
                            <th>
                                Ayarlar
                            </th>
                        </tr>
                    </thead>

                    <tbody>


                        @foreach (It_SoftwareVillage item in Model)
                        {
                            <tr>
                                <td>
                                    @(count++)
                                </td>
                                <td class="py-1">
                                    <img src="~/assets/img/@item.Image" alt="image" />
                                </td>
                                <td>
                                    @item.BigTitle
                                </td>
                                <td>
                                    @item.LittleTitle
                                </td>
                                <td>
                                    <a asp-controller="It_SoftwareVillage" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a asp-controller="It_SoftwareVillage" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>