@using SoftwareVillage.Models;
@model AkademiyaTeachers

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Əlavə et</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo">Şəkil</label>
                    <input asp-for="Photo" type="file" class="form-control" placeholder="Şəkil" />

                    <span asp-validation-for="Photo"></span>
                </div>
               



                <div class="form-group">
                    <label asp-for="SocialMediaId">Sosial Media adresi</label>
                    <select asp-for="SocialMediaId" class="form-control">
                        <option selected disabled>Seçim</option>
                        @foreach (var item in ViewBag.SocialMedias)
                        {
                            <option value="@item.Id">@item.FacebookLink @item.InstagramLink @item.LinkedlnLink @item.TwitterLink</option>
                        }
                    </select>
                    <span asp-validation-for="SocialMediaId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FullName">
                        Ad və Soyad
                    </label>
                    <input asp-for="FullName" type="text" class="form-control" placeholder="Ad və Soyad" />
                    <span asp-validation-for="FullName"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProfessionId">Vəzifə</label>
                    <select asp-for="ProfessionId" class="form-control">
                        <option selected disabled>Seçim</option>
                        @foreach (var item in ViewBag.Professions)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ProfessionId" class="text-danger"></span>
                </div>


                

                <button type="submit" class="btn btn-primary me-2">Yadda saxla</button>
                <button class="btn btn-light">Ləğv et</button>

            </form>

        </div>
    </div>
</div>
