
@using SoftwareVillage.Models;
@model List<Relation>

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
           
            <h1 class="display-4 text-white animated zoomIn">Əlaqə</h1>


        </div>
    </div>
</div>

<!-- Contact Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Əlaqə</h5>
            <h1 class="mb-0">Əgər hər hansı sualınız yaranarsa bizimlə əlaqə saxlaya bilərsiniz.</h1>
        </div>

        @foreach (Relation item in Model)
        {
            <div class="row g-5 mb-5">

                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">@item.Number_Title</h5>
                            <h4 class="text-primary mb-0">@item.Number</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">@item.Email_Title</h5>
                            <h4 class="text-primary mb-0">@item.Email</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">@item.Address_Title</h5>
                            <h4 class="text-primary mb-0">@item.Address</h4>
                        </div>
                    </div>
                </div>

            </div>
        }
       
              @*---------------Send hissesi------------------*@
        <div class="row g-5">
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control border-0 bg-light px-4" placeholder="Adınız" style="height: 55px;">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control border-0 bg-light px-4" placeholder="Email" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <select class="form-select bg-light border-0" style="height: 40px;">
                                <option selected>050</option>
                                <option value="1">051</option>
                                <option value="2">055</option>
                                <option value="3">070</option>
                                <option value="4">099</option>

                            </select>
                            <div class="col-xl-12">
                                <input type="tel" class="form-control bg-light border-0" placeholder="XXX-XX-XX" style="height: 30px;">
                            </div>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Göndər</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.003632887094!2d49.8629275152285!3d40.36966427936492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030700674f3c4d3%3A0x30bb8301da85fb7!2sChaykovskiy%20Street%2C%20Baku%2C%20Azerbaijan!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0">
                </iframe>
                 
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->