@using SoftwareVillage.Models;
@model List<StudentFeedbacks>

@{
    int count = 1;
}

<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Əlavə et</h4>

            <a asp-controller="StudentFeedbacks" asp-action="Create" type="button" class="btn btn-info">Şəxs əlavə et</a>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Sıra nömrəsi
                            </th>
                            <th>
                                Şəkil
                            </th>
                            <th>
                                Ad və Soyad
                            </th>
                            <th>
                                Bootkamp
                            </th>
                            <th>
                                Rəy
                            </th>
                            <th>
                                Setting
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (StudentFeedbacks item in Model)
                        {
                            <tr>
                                <td>
                                    @(count++)
                                </td>

                                <td class="py-1">
                                    <img src="~/assets/img/@item.Image" alt="image" />
                                </td>

                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.Bootcamp.Name
                                </td>
                                <td>
                                    @item.Feedbacks
                                </td>
                                <td>
                                    <a asp-controller="StudentFeedbacks" asp-action="update" asp-route-id="@item.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a asp-controller="StudentFeedbacks" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>